@page "/fetchdata"
@using BlazorNet5.Shared
@inject IWeatherForecastService weatherForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <Virtualize Context="forecast" ItemsProvider="@LoadWeather">
            <ItemContent>
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            </ItemContent>
            <Placeholder>
                <tr>
                    <td>Loading&hellip;</td>
                    <td>Loading&hellip;</td>
                    <td>Loading&hellip;</td>
                    <td>Loading&hellip;</td>
                </tr>
            </Placeholder>
        </Virtualize>
    </tbody>
</table>

@code {
    private async ValueTask<ItemsProviderResult<WeatherForecast>> LoadWeather(ItemsProviderRequest request)
    {
        var forecastsResult = await weatherForecastService.GetWeatherForecastAsync(request.StartIndex, request.Count);
        return new ItemsProviderResult<WeatherForecast>(forecastsResult.Forecasts, forecastsResult.Count);
    }
}
